
header {
	background: #4b4a45;
    display: block;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;

}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
	background:#f3eddf;
    display: inline-block;
    margin-right: 4px;
    text-align: center;
	min-width: 80px;
}

a{
    color: #000;
    text-decoration: none;
    display: block;
	height: 100%; 
}